body {
  font-family: Arial;
  background-color: rgb(241, 244, 244);
  padding: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#prod {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;
}

#searchBtn:hover{
  background-color: rgb(198, 224, 246);
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 2px;
}

/* Suggestion box styling */
#suggestions {
    position: absolute;
    width: 205px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 100;
    /* display: none; */
}

#suggestions.active {
    display: block; 
}

.suggestion-item{
  color: black;
  background-color: white;
}
#suggestions .suggestion-item {
    padding: 10px 12px;
    cursor: pointer;
    transition: background 0.2s;
}

#suggestions .suggestion-item:hover {
    background-color: #007bff;
    color: #fff;
}


.SEARCH_BOX {
    display: flex;
    position: relative;  
    gap: 5px;            
}

#searchInput{
  width: 200px;
}

.SEARCH_BOX #HistBtn{
  width: 50px;
}